In [1]:
import pandas as pd
import numpy as np

In [3]:
raw = pd.read_csv('results.csv')
raw.head(5)

,basal,title,calories,complexity,ingredients,macros,taste,vegetarian
0,bread,Grilled Cheese,320,easy,"[{""S"":""bread""},{""S"":""cheese""},{""S"":""butter""}]","{""carbs"":{""N"":""28""},""fats"":{""N"":""20""},""protein...",4,True
1,bread,Grilled Cheese and Tomato Soup,610,easy,"[{""S"":""bread""},{""S"":""cheese""},{""S"":""butter""},{...","{""carbs"":{""N"":""56""},""fats"":{""N"":""38""},""protein...",4,True
2,beef,Hearty Beef Stew,500,hard,"[{""S"":""beef stew meat""},{""S"":""carrots""},{""S"":""...","{""carbs"":{""N"":""30""},""fats"":{""N"":""35""},""protein...",4,False
3,rice,Beef and broccoli stir fry,400,normal,"[{""S"":""1 pound flank steak, thinly sliced agai...","{""carbs"":{""N"":""45""},""fats"":{""N"":""16""},""protein...",4,False
4,rice,Chicken Curry with Basmati Rice,490,normal,"[{""S"":""1 cup uncooked basmati rice""},{""S"":""2 t...","{""carbs"":{""N"":""49""},""fats"":{""N"":""20""},""protein...",4,False

In [86]:
user_item = pd.DataFrame(columns = ['USER_ID','ITEM_ID','TIMESTAMP'])
user_item['ITEM_ID'] = raw['basal'] + ' - ' +raw['title']
user_item['USER_ID'] = "0"
user_item['TIMESTAMP'] = np.random.randint(1,1000, dtype = 'long')

for i in range(1000):
    fake = user_item.sample()
    fake['USER_ID'] = np.random.randint(1,30)
    fake['TIMESTAMP'] = np.random.randint(1,1000, dtype = 'long')
    user_item = user_item.append(fake, ignore_index = True) 
    
user_item

C:\Users\alexa\AppData\Local\Temp\ipykernel_2252\3536382913.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  user_item = user_item.append(fake, ignore_index = True)

     USER_ID                                            ITEM_ID  TIMESTAMP
0          0                             bread - Grilled Cheese        726
1          0             bread - Grilled Cheese and Tomato Soup        726
2          0                            beef - Hearty Beef Stew        726
3          0                  rice - Beef and broccoli stir fry        726
4          0             rice - Chicken Curry with Basmati Rice        726
...      ...                                                ...        ...
1035       6  chicken - Chicken Fajita Bowl with Cilantro Li...        731
1036      24           tofu - Tofu and Mixed Vegetable Stir-Fry        365
1037      20                                wrap - Falafel Wrap        181
1038      10  chicken breast - Grilled Chicken Salad with Ci...        935
1039       5           tofu - Tofu and Mixed Vegetable Stir-Fry        138

[1040 rows x 3 columns]

In [106]:
item = pd.DataFrame(columns = ['ITEM_ID','BASAL','TITLE', 'CALORIES', 'COMPLEXITY', 'INGREDIENTS', 'CARBS', 'FATS', 'PROTEINS','TASTE','VEGETARIAN'])

item['ITEM_ID'] = raw['basal'] + ' - ' +raw['title']
item['BASAL'] = raw['basal']
item['TITLE'] = raw['title']
item['CALORIES'] = raw['calories']
item['COMPLEXITY'] = raw['complexity']
item['VEGETARIAN'] = raw['vegetarian']
item['TASTE'] = raw['taste']

item['CARBS'] = raw['macros'].apply(lambda x: eval(x)['carbs']['N'])
item['FATS'] = raw['macros'].apply(lambda x: eval(x)['fats']['N'])
item['PROTEINS'] = raw['macros'].apply(lambda x: eval(x)['proteins']['N'])

item['INGREDIENTS'] = raw['ingredients'].apply(lambda x: eval(x[1:-1]))
item['INGREDIENTS'] = item['INGREDIENTS'].apply( lambda x: [i['S'] for i in x])
item['INGREDIENTS'] = item['INGREDIENTS'].apply( lambda x: str(x)[1:-1].replace(',',''))

item.head(5)

,ITEM_ID,BASAL,TITLE,CALORIES,COMPLEXITY,INGREDIENTS,CARBS,FATS,PROTEINS,TASTE,VEGETARIAN
0,bread - Grilled Cheese,bread,Grilled Cheese,320,easy,'bread' 'cheese' 'butter',28,20,10,4,True
1,bread - Grilled Cheese and Tomato Soup,bread,Grilled Cheese and Tomato Soup,610,easy,'bread' 'cheese' 'butter' 'tomato' 'onion' 'ga...,56,38,14,4,True
2,beef - Hearty Beef Stew,beef,Hearty Beef Stew,500,hard,'beef stew meat' 'carrots' 'potatoes' 'onion' ...,30,35,35,4,False
3,rice - Beef and broccoli stir fry,rice,Beef and broccoli stir fry,400,normal,'1 pound flank steak thinly sliced against the...,45,16,32,4,False
4,rice - Chicken Curry with Basmati Rice,rice,Chicken Curry with Basmati Rice,490,normal,'1 cup uncooked basmati rice' '2 tbsp vegetabl...,49,20,34,4,False

In [19]:
user = pd.DataFrame({'USER_ID':['0'],'NAME':['Alex'],'AGE':[21]})
user

  USER_ID  NAME  AGE
0       0  Alex   21

In [107]:
user.to_csv('user_table.csv', index = False)
user_item.to_csv('user_item_table.csv', index = False)
item.to_csv('item_table.csv', index = False)